pandas
numpy

scikit-learn
xgboost
lightgbm

matplotlib
seaborn
plotly

joblib

streamlit

fastapi
uvicorn

langchain
langchain-community
langchain-core

langgraph

faiss-cpu

sentence-transformers

google-generativeai

shap

python-dotenv

pydantic

reportlab

networkx